In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"]=(20,10)

### Step 0. Data Load from CSV file (Hyderabad house rent data)

In [3]:
df1 = pd.read_csv("Hyderabad_HouseRent_Data.csv", index_col=0)
df1.head(10)

,bedrooms,bathrooms,furnish,tennants,total_sqft,price,location
0,3 BHK Builder Floor,2,Furnished,Bachelors/Family,1800 sqft,"34,000","Bhagyalaxmi Nagar, Kavadiguda"
1,3 BHK Apartment,2,Semi-Furnished,Family,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
2,1 BHK Builder Floor,Immediately,Furnished,Bachelors/Family,read more,"18,000",Gachibowli
3,3 BHK Apartment,Immediately,Furnished,Bachelors/Family,2160 sqft,"40,000","Moosapet, NH"
4,3 BHK Apartment,2,Semi-Furnished,Family,1580 sqft,"23,000",Raghavendra Colony kondapur
5,3 BHK Apartment,2,Furnished,Bachelors/Family,2600 sqft,"50,000","Banjara Darwaja, Golconda Fort"
6,3 BHK Service Apartment,1,Semi-Furnished,Bachelors/Family,1350 sqft,"32,000","Mohans Sai Signature, Nanakramguda"
7,Studio Apartment,1,Furnished,Bachelors/Family,read more,"13,000",Gowlidoddy
8,3 BHK Apartment,2,Furnished,Bachelors/Family,1700 sqft,"35,000","Somajiguda, NH"
9,3 BHK Service Apartment,1,Unfurnished,Family,1150 sqft,"11,000",Kapra

In [4]:
df1.shape

(1171, 7)

## Data Cleaning

In [5]:
df2 = df1.drop(["bathrooms", "tennants"], axis="columns")

In [6]:
df2.shape

(1171, 5)

In [7]:
df2.head(5)

,bedrooms,furnish,total_sqft,price,location
0,3 BHK Builder Floor,Furnished,1800 sqft,"34,000","Bhagyalaxmi Nagar, Kavadiguda"
1,3 BHK Apartment,Semi-Furnished,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
2,1 BHK Builder Floor,Furnished,read more,"18,000",Gachibowli
3,3 BHK Apartment,Furnished,2160 sqft,"40,000","Moosapet, NH"
4,3 BHK Apartment,Semi-Furnished,1580 sqft,"23,000",Raghavendra Colony kondapur

In [8]:
df2.isnull().sum()

bedrooms       0
furnish        0
total_sqft    22
price          0
location       0
dtype: int64

In [9]:
df2.dropna(how="any", axis=0, inplace=True)

In [10]:
df2.isnull().sum()

bedrooms      0
furnish       0
total_sqft    0
price         0
location      0
dtype: int64

In [11]:
df2.head(5)

,bedrooms,furnish,total_sqft,price,location
0,3 BHK Builder Floor,Furnished,1800 sqft,"34,000","Bhagyalaxmi Nagar, Kavadiguda"
1,3 BHK Apartment,Semi-Furnished,2500 sqft,"45,000","Gachibowli, Outer Ring Road"
2,1 BHK Builder Floor,Furnished,read more,"18,000",Gachibowli
3,3 BHK Apartment,Furnished,2160 sqft,"40,000","Moosapet, NH"
4,3 BHK Apartment,Semi-Furnished,1580 sqft,"23,000",Raghavendra Colony kondapur

In [12]:
df3 = df2[~df2["furnish"].str.contains("Family", case=False)]

In [13]:
df3.furnish.unique()

array(['Furnished', 'Semi-Furnished', 'Unfurnished'], dtype=object)

In [14]:
df3.furnish.value_counts()

Semi-Furnished    614
Unfurnished       327
Furnished         181
Name: furnish, dtype: int64

## Feature Engineering (creating another variable here as 'bhk')

In [15]:
df3['bhk']=df3['bedrooms'].apply(lambda x:int(x.split(' ')[0]) if x.split(' ')[0].isnumeric() else 0)

C:\Users\USER\AppData\Local\Temp\ipykernel_10700\3678461081.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['bhk']=df3['bedrooms'].apply(lambda x:int(x.split(' ')[0]) if x.split(' ')[0].isnumeric() else 0)

In [16]:
df3.bhk.value_counts()

3    518
2    406
0    123
1     54
4     20
5      1
Name: bhk, dtype: int64

In [17]:
df3.shape

(1122, 6)

In [18]:
df4 = df3[~df3["bhk"].isin([0,5])]

In [19]:
df4.bhk.value_counts()

3    518
2    406
1     54
4     20
Name: bhk, dtype: int64

In [20]:
df4.drop("bedrooms", axis="columns", inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_10700\3213161806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4.drop("bedrooms", axis="columns", inplace=True)

In [21]:
df4.head()

          furnish total_sqft   price                         location  bhk
0       Furnished  1800 sqft  34,000   Bhagyalaxmi Nagar, Kavadiguda     3
1  Semi-Furnished  2500 sqft  45,000     Gachibowli, Outer Ring Road     3
2       Furnished  read more  18,000                       Gachibowli    1
3       Furnished  2160 sqft  40,000                    Moosapet, NH     3
4  Semi-Furnished  1580 sqft  23,000     Raghavendra Colony kondapur     3

In [22]:
df4.location.unique()

array([' Bhagyalaxmi Nagar, Kavadiguda ', ' Gachibowli, Outer Ring Road ',
       ' Gachibowli', ' Moosapet, NH ', ' Raghavendra Colony kondapur ',
       ' Banjara Darwaja, Golconda Fort ',
       ' Mohans Sai Signature, Nanakramguda ', ' Somajiguda, NH ',
       ' Kapra ', ' Tilak Nagar, New Nallakunta, NH ',
       ' Neknampur, Manikonda, Outer Ring Road ',
       ' Mayuri Nagar, Miyapur ',
       ' Accurate Wind Chimes, Narsingi, Outer Ring Road ',
       ' Hyder Nagar, NH ',
       ' Vajras Jasmine County, Financial district gucchibowli ',
       ' Tirumala Gardens, Banjara Hills, NH ',
       ' Paragon Venkatadri Apartments, Kachiguda, NH ',
       ' Meenakshi Homes, Miyapur, NH ', ' Papulguda ',
       ' Bachupally, Outer Ring Road ', ' Nanakram Guda ',
       ' L&T Serene County, Gachibowli, Outer Ring Road ',
       ' SM Plaza, ECIL ', ' Chatta Bazaar, Pathar Gatti ',
       ' Lodha Meridian, Kukatpally Housing Board Colony, NH ',
       ' Hitech City ', ' Banjara Hills, NH ', ' Mehindipatnam ',
       ' YMCA Circle, Narayanguda ',
       ' Vajras Jasmine County, Gachibowli, Outer Ring Road ',
       ' Jubilee Hills ', ' Kondapur ', ' Kondapur',
       ' Golf View, Gachibowli, Outer Ring Road ', ' Devan Devdi ',
       ' Lodha Casa Paradiso, Sanath Nagar, NH ',
       ' Srila Park Pride, Kukatpally, NH ',
       ' Gudi Malkapur, Mehdipatnam ',
       ' Banjara Basera Apartment, Banjara Hills, NH ', ' KPHB ',
       ' Dullapally, NH ', ' VSR Celestial Towers, Gajularamaram ',
       ' Jeedimetla, NH ', ' Vasanth Nagar Colony, Nizampet ',
       ' Nallagandla, Serilingampally ', ' Brindavan Colony-Toli Chowki ',
       ' West Marredpally ', ' PBEL City, Appa junction ',
       ' Aditya Empress Towers, Shaikpet ',
       ' Prestige Ivy League, Phase ', ' Shri',
       ' Upparpally, Hyderabad Expressway ',
       ' Gangaram, Chandanagar, NH ',
       ' Srinivas Nagar, Rhoda Mistri Nagar ', ' Madhapur ',
       ' Annojiguda, NH ', ' NGRI, Secunderabad ', ' Chandanagar, NH ',
       ' Samatha Nagar, Kukatpally, NH ', ' Bandlaguda Jagir ',
       ' Jains Carlton Creek, Gachibowli, Outer Ring Road ',
       ' Kukatpally, NH ', ' Aditya Imperial Heights, Hafeezpet, NH ',
       ' Gajularamaram ', ' Ramanthapur, NH ',
       ' ALIND Employees Colony, Serilingampally ',
       ' ARK Homes, Bolarum, Medchal Road ', ' Kokapet, Outer Ring Road ',
       ' SMR Vinay Iconia, Kondapur ',
       ' My Home Vihanga, Gachibowli, Outer Ring Road ', ' Attapur ',
       ' Balaji Hills Colony ',
       ' Green Space Hill Park, Manikonda, Outer Ring Road ',
       ' Puppalaguda ', ' GK Pride, Yapral ', ' Mehdipatnam ',
       ' Nizampet ', ' Kavadiguda, NH ',
       ' Gundlapochampally, Outer Ring Road ', ' East Marredpally ',
       ' Silicon Ridge, Attapur ', ' Gks Habitat Royale, Yapral ',
       ' Green Space Residency, Gajularamaram ',
       ' Lacasa K Apartments, Banjara Hills, NH ', ' Gopanapalli ',
       ' My Home Avatar, Narsingi, Outer Ring Road ',
       ' Ramky One Marvel, Kukatpally, NH ',
       ' Golden Heights Colony, Janachaitanya colony, Hyderabad Expressway ',
       ' Floatilla, Manikonda, Outer Ring Road ',
       ' Ashoka Liviano, Gachibowli, Outer Ring Road ',
       ' Modi Emerald Heights, Pocharam, NH ', ' Shamshabad ',
       ' Royal Colony-Ram Bagh Colony ',
       ' Anjaneyanagar Colony, Boduppal ', ' Bairagiguda ',
       ' Masab Tank ', ' Whitefields ', ' Khairatabad, NH ',
       ' My Home Avatar, My home avatar ', ' Medipally ',
       ' Old Nallakunta, New Nallakunta ',
       ' Paramount Residency, Nagaram ',
       ' Janapriya Lakefront, Sainikpuri ', ' Suchitra Circle ',
       ' NCC Urban One, Narsingi, Outer Ring Road ',
       ' Gandhi Nagar, Kavadiguda, NH ',
       ' Beeramguda, Ramachandra Puram, NH ', ' Gachibowli Phase ',
       ' Basheer Bagh, NH ', ' Manchirevula, Outer Ring Road ',
       ' Osman Nagar ', ' Ameerpet, NH ', ' Bandari Layout ',
       ' Al Hasnath Colony, Toli Chowki ', ' Shaikpet ',
       ' NCL Sindhu, Dandamudi Enclave, Jeedimetla ',
       ' Kukatpally Housing Board Colony, NH ',
       ' Kavuri Hills, Madhapur ',
       ' Trendset Winz, Gachibowli, Outer Ring Road ',
       ' Indu Fortune Fields apartments, Hitech City ',
       ' Old Malakpet, NH ', ' Hafeezpet, NH ',
       ' Temple Alwal, Secunderabad, Siddipet Road ', ' Punjagutta, NH ',
       ' Lanco Hills, Manikonda, Outer Ring Road ',
       ' Narsingi, Outer Ring Road ', ' Domalguda, Himayath Nagar, NH ',
       ' NCL Ganga, Kompally ', ' Pragathi Nagar-Ramanthpur, NH ',
       ' Saket, Secunderabad ', ' Sainikpuri ', ' Lakdikapul, NH ',
       ' Vidya Nagar ', ' Aparna Hillpark Gardenia, Chandanagar, NH ',
       ' Kalyan Puri, Secunderabad ', ' Nehru Nagar-West Marredpally ',
       ' Sangareddy District ', ' Samata Colony, Toli Chowki ',
       ' Dammaiguda ', ' Tellapur, Outer Ring Road ', ' Karwan sahu ',
       ' New Mallepally ', ' Mayur Marg ',
       ' Saptagiri Colony, Kukatpally, NH ', ' Sangareddy',
       ' Dilsukh Nagar, NH ', ' Alkapuri, LB Nagar, NH ',
       ' Vidyanagar, Adikmet ', ' Champapet, Koti ',
       ' Nirmala Ratna Apartment, Gangaram, Chandanagar, NH ',
       ' Moti Nagar-Erragadda, NH ',
       ' Mantri Celestia, Gachibowli, Outer Ring Road ',
       ' Khaja Guda, Outer Ring Road ',
       ' Pearl Celestial, Kokapet, Outer Ring Road ',
       ' Vertex Pleasant, Kukatpally, NH ',
       ' Daisy Classic, Kukatpally, NH ',
       ' SMR Vinay Harmony County, Appa junction ',
       ' De Lite Power Welfare Society, Narsingi, Outer Ring Road ',
       ' Sun City, Bandlaguda, Chevella Road ', ' Gudimalkapur ',
       ' Tarnaka ', ' Raghuram A', ' SMR Vinay City, Miyapur, NH ',
       ' Yousufguda, NH ',
       ' Lumbini Avenue, Gachibowli, Outer Ring Road ', ' Kothaguda ',
       ' Gachibowli CUC, Outer Ring Road ',
       ' Lakshmi Nagar Colony-Hanuman Nagar Colony',
       ' Lodha Meridian, K P H B Phase ',
       ' Magnam Opus, Gachibowli, Outer Ring Road ',
       ' SMR Vinay Fountainhead, Hyderabad ',
       ' Bagh Amberpet, Amberpet, NH ',
       ' Aakriti Honey dew, Tellapur, Outer Ring Road ',
       ' Hill County Township, Bachupally, Outer Ring Road ',
       ' Serilingampally ', ' Project Golden Habitat, Madhapur ',
       ' Western Exotica Project , Kothaguda ', ' Haripuri colony ',
       ' Manikonda, Outer Ring Road ', ' Aminpur ',
       ' APSEB Colony, Hastinapuram ',
       ' Silver Spring, Narsingi, Outer Ring Road ',
       ' Bhavyas Akhila Exotica, Kukatpally, NH ',
       ' Sri Mahalakshmi Residency, Attapur ',
       ' Sri Nainas Sunrise, Manikonda, Outer Ring Road ', ' Balkampet ',
       ' APGOs Coop HSG Society, Hafeezpet ', ' Toli Chowki ',
       ' Hyderaguda-Attapur ',
       ' Infocity Excellence and Elegance, Nallagandla, Serilingampally ',
       ' Aparna Kanopy Tulip, Kompally ', ' Sumukhi Orbit, Madhapur ',
       ' Project Hill Ridge Springs, Gachibowli, Outer Ring Road ',
       ' Gayatri Hills, Jubilee Hills ', ' Emerald Heights, Nizampet ',
       ' New Dilshukh Nagar, NH ', ' Maruthi Nagar ', ' Hayathnagar, NH ',
       ' Quthbullapur, NH ', ' Modi Splendour, Kukatpally, NH ',
       ' Borabanda ', ' Miyapur, NH ', ' Narapally ',
       ' New Bowenpally, NH ', ' Uppal Metro ', ' Bowenpally ',
       ' IT Heights, Khaja Guda, Outer Ring Road ',
       ' Modi Splendour, Gajularamaram ',
       ' Pranav Surya Planet, Kothaguda ', ' Lalaguda, Secunderabad ',
       ' LB Nagar, NH ',
       ' Sri Sai Ram Residency, Beeramguda, Ramachandra Puram, NH ',
       ' Gayathri Nagar ', ' Concrete Palazzo, Nacharam ',
       ' Silver Nest Arcade, Narayanguda ', ' Narayanguda ',
       ' New Nallakunta ', ' Krishna Giri Enclave, Secunderabad ',
       ' Prestige Ivy League, Hitech City ',
       ' Jayabheri Orange County, Gachibowli, Outer Ring Road ',
       ' Janapriya Utopia II, Upparpally, Hyderabad Expressway ',
       ' SRI SAIRAM Towers, Hafeezpet, NH ', ' Shivam Rd ', ' Vidyanagar',
       ' Rainbow Vistas Rock Gardens, Hitech City ',
       ' Ayyappa Society, Madhapur ', ' Masjid Banda ',
       ' Rethibowli, Mehdipatnam ',
       ' Vajras Jasmine County, Financial District, Nanakram Guda ',
       ' Aparna Cyber Commune', ' Aparna Serene Park, Masjid Banda ',
       ' Ashvita, Hitech City ',
       ' Aparna CyberZon, Nallagandla, Serilingampally ',
       ' ACE Atlantis, Khaja Guda, Outer Ring Road ', ' Kothaguda',
       ' Lodha Meridian, Kukatpally, NH ',
       ' Nagarjuna Residency, P Janardhan Reddy Nagar, Gachibowli, Outer Ring Road ',
       ' Apurupa Avenue, Kavuri Hills, Madhapur ', ' ',
       ' Aparna Aura, Jubilee Hills ', ' Ramky Towers Elite, Madhapur ',
       ' Shanthi Nagar-Kukatpally, NH ', ' Sanjeeva Reddy Nagar, NH ',
       ' Surya Nagar, Toli Chowki ', ' Aparna Serene Park, Kondapur ',
       ' Solanki Gulmohar, Brahman Wadi, Begumpet ', ' Saroornagar, NH ',
       ' Fort View Colony ',
       ' Morning Raga, Alkapur Township, Manikonda, Outer Ring Road ',
       ' Uppal, NH ', ' Nagaram ',
       ' Surya Sravanthi Apartment, Kothaguda ',
       ' Lotus Avenues, Miyapur, NH ', ' Police Colony-Kondapur ',
       ' Rajapushpa Atria, Kokapet, Outer Ring Road ',
       ' Durgabai Deshmukh Colony, Amberpet ', ' Malakpet, NH ',
       ' Malaysian Township, Kukatpally, NH ', ' IDPL Colony',
       ' Accurate Wind Chimes, Narsinghi ',
       ' Aditya Gardenia, Banjara Hills, NH ', ' Charminar',
       ' Musheerabad ', ' Friends Colony ', ' khairtabad ',
       ' Chilakalguda ', ' Habsiguda, NH ',
       ' B N Reddy Nagar, Nagarjuna Sagar Road ',
       ' Anandbagh, Secunderabad, Moula Ali Road ', ' Langar',
       ' Langar House South, Hyderabad Expressway ',
       ' Mythri Nagar, Hafeezpet, NH ', ' TNR Sulakshna, LB Nagar, NH ',
       ' Manasa Vensa Ashraya, Saroornagar, NH ',
       ' Ashoka Liviano, P Janardhan Reddy Nagar, Gachibowli, Outer Ring Road ',
       ' East Oak Luxury Apartments, Pocharam, NH ',
       ' LIG Apartments, Kukatpally, NH ', ' Devi Bagh, Bahadurpura ',
       ' Sriramnagar,Kothaguda ', ' Vazhraa Nirmaan Pushpak, Nizampet ',
       ' Honer Vivantis, Nalagandala ', ' Sri Mahalakshmi Residency',
       ' Almasguda ', ' Whistling Woods, Kokapet, Outer Ring Road ',
       ' RV Kaustubha, Kompally ', ' Vajras Jasmine County',
       ' Advocates Colony, Himayath Nagar ', ' MADEENAGUDA ',
       ' P Janardhan Reddy Nagar, Gachibowli, Outer Ring Road ',
       ' Alkapur Township, Manikonda, Outer Ring Road ',
       ' SMR Sowmya, West Marredpally ',
       ' Bommarillu Homes, Madhura Nagar-Nizampet ',
       ' Sapthagiri Enclave, Bachupally, Outer Ring Road ', ' Begumpet ',
       ' Sivaji Nagar-Chandanagar ', ' Dundoo Classic Tower, Boiguda ',
       ' Jai Jawahar Nagar, Secunderabad ', ' Ashgoli ', ' Adibatla ',
       ' Mayflower Heights, Mallapur ',
       ' Bandlaguda, Nagole, Srisailam Highway ',
       ' Patels Bright View, Yapral ', ' Secunderabad, Rashtrapati ROAd ',
       ' Chitrapuri Colony, Manikonda, Outer Ring Road ',
       ' Hallmark KSN Residency, Kondapur ',
       ' Vittal Rao Nagar, Hitech City ',
       ' NCL Sindhu, Satyam Enclave, Komapally, NH ',
       ' Manovikas Nagar, Secunderabad, NH ',
       ' Pragathi Nagar, Kukatpally ', ' Patelguda ', ' Suchitra Road ',
       ' Green Field Colony, Secunderabad ',
       ' Near Gachibowli Financil Dist. ', ' Moula Ali, Moula Ali Road ',
       ' Gachibwoli (ORR junction) ', ' Aditya Nagar, Hafeezpet ',
       ' SRI SAIRAM Towers, Indra Reddy Alwyn Colony, Miyapur, NH ',
       ' Gaghan Pahad, Rajendra Nagar, Outer Ring Road ',
       ' Krishna Nagar, Yousufguda ',
       ' Malla Reddy Colony, Secunderabad ',
       ' Buddha Nagar Colony, Boduppal ', ' Dr A.S. Rao Nagar ',
       ' Marredpally ', ' Boduppal, NH ',
       ' Fort View, Hydershakote, Bandlaguda, Chevella Road ', ' Nagole ',
       ' Hakimpet-Hyderabad ', ' Quadri Happy Homes Paradise, Amberpet ',
       ' Rasoolpura, Mahatma Gandhi Road ', ' Pocharam, NH ',
       ' Raghavendra Colony, NH ', ' Aliens Fast Track, Madhapur ',
       ' KKRs Fountainhead, Miyapur, NH ', ' military dairy farm rd ',
       ' Skanda Srinivasam, Isnapur, Outer Ring Road ',
       ' Madinaguda, Hafeezpet, NH ',
       ' Green Grace, Gachibowli, Outer Ring Road ',
       ' Vazhraa Nirmaan Pushpak, Madhura Nagar-Nizampet ',
       ' Humayun Nagar ',
       ' Padmarao Nagar, Hyderabad-Karimnagar Highway ',
       ' Shankara Kranthi Apartment, Kavadiguda, NH ',
       ' Himayath Nagar, NH ',
       ' The Legend Somajiguda I, Somajiguda, NH ', ' KPHB Road ',
       ' Rahat Nagar-Amberpet ', ' Radha Krishna Nagar-Attapur, Attapur ',
       ' SMR Sartaj Plaza, Bowenpally ', ' Jaya Nagar, Kukatpally, NH ',
       ' Aparna Sarovar, Nalagantla ', ' SMR Empire, West Marredpally ',
       ' Janapriya Lakefront', ' Victory Estates, Jeedimetla, NH ',
       ' Vasathi Anandi, Appa junction ',
       ' SMR Vinay Technopolis, Madhapur ',
       ' Muppas Alankrita, Narsingi, Outer Ring Road ', ' Trimulgherry ',
       ' Raheja Vistas, Nacharam ', ' Ushodaya Enclave, Hafeezpet ',
       ' Badangpet ', ' Erragadda, NH ', ' Boiguda ',
       ' L&T Serene County, Telecom Nagar, Gachibowli, Outer Ring Road ',
       ' Meenakshi Sky Lounge, Bikshapathi Nagar, Hafeezpet ',
       ' DD Colony, Amberpet ', ' Pragathi Nagar',
       ' Lingampally-Serilingampally, NH ', ' Madhapur',
       ' Anjani Towers, Ameerpet, NH ', ' Himayatnagar ',
       ' MIGH Colony-Mehdipatnam ', ' New', ' Panjagutta Colony ',
       ' Hitex', ' Neredmet ', ' MJR Golden Enclave, Madhapur ',
       ' Lakshmi Nagar Colony-Hanuman Nagar Colony, Secunderabad ',
       ' Barkatpura, Kachiguda, NH ',
       ' Jayabheri Orange County, Gachibowli CUC, Outer Ring Road ',
       ' Alwal', ' My Homes Jewel, Miyapur, NH ',
       ' Yella Reddy Guda, NH ', ' Ashok Nagar, Himayath Nagar ',
       ' Meenakshis Royal Court, Banjara Hills, NH ',
       ' Manikonda Society, Manikonda, Outer Ring Road ',
       ' Chikkadpally ',
       ' Vasavi Residency, Anand Nagar-Khairatabad, NH ',
       ' Old Alwal, Secunderabad, Siddipet Road ', ' New Maruthi Nagar',
       ' Fair Lands', ' Road # ', ' Vivekananda Nagar, Kukatpally, NH ',
       ' Gachibowli phase ', ' Sangareddy ',
       ' Gopalnagar Society, Hafeezpet ',
       ' Gagan Mahal, Himayath Nagar, NH ', ' Sai Nagar-Komapally, NH ',
       ' Surya Nagar Colony, Secunderabad, Medchal Road ', ' Meerpet ',
       ' Jagruthi Colony ', ' Financial District',
       ' Kakatiya Hills madhapur ', ' Medipally',
       ' Boduppal Dwaraka nagar ', ' Balapur ',
       ' Narayanaguda main road ', ' Hyderabad ',
       ' Anjaneyanagar Colony moosapet ', ' Gandhi Nagar-Boiguda ',
       ' Karimnagar ', ' Aparna Hill park Silver oaks, Chandanagar, NH ',
       ' Mettuguda ', ' Kaithalapur, Borabanda ',
       ' Hyder Shah Kote, Chevella Road ',
       ' Ramnagar Gundu, Adikmet, NH ',
       ' Tanasha Nagar, Outer Ring Road ', ' SD Road ', ' Vidyut Nagar ',
       ' Vanasthalipuram, NH ',
       ' Jalvayu Tower, Gandhi Nagar, Kavadiguda, NH ',
       ' Red Hills, Lakdikapul, NH ',
       ' Financial District, Nanakram Guda ',
       ' Arvind Nagar Colony, Toli Chowki ', ' Singapore', ' OU Colony ',
       ' Mitapur ', ' Nizampet Road ', ' Safilguda, Secunderabad ',
       ' Rajendra Nagar, Outer Ring Road ', ' Bandlaguda ',
       ' Bandam Kommu ', ' Deepthisri Nagar, NH ', ' Tolly Chowki ',
       ' Nallakunta ', ' Sai Homes, Peerzadiguda ', ' Chintal, NH ',
       ' Defence Colony, Secunderabad ', ' Vinayak Nagar ',
       ' Appa junction ', ' rtc cross road ', ' Gopanapalli', ' Santosh',
       ' Kompally ', ' Manikonda', ' Nalanda Nagar',
       ' CMC Enclave, Kondapur ', ' Aarambh Township, Chandanagar, NH ',
       ' Nizampet', ' Venkata Ramana Colony, Nagole ', ' Bachupally',
       ' Srinija Gayatri Hills, Gachibowli, Outer Ring Road ',
       ' The Legend Vittalwadi, Narayanguda ', ' Meerpet',
       ' Rajiv Gandhi Nagar Colony, Nizampet ', ' Lalaguda',
       ' Syed Nagar ', ' Gajularamara ', ' Sri Nagar Colony ',
       ' Ramakrishnapuram-Neredmet ', ' Alwal ',
       ' Sri Vasavi Siva Nagar Colony, Secunderabad ', ' ECIL ',
       ' Chanda Nagar ', ' Murad Nagar, Lal Darwaza, Falaknuma Road ',
       ' Attapur', ' Teja Colony ', ' Bhagya Nagar Colony',
       ' Madhura Nagar, NH ', ' Hyderguda ',
       ' Rainbow Vistas Rock Gardens', ' Patrika Nagar, Hitech City ',
       ' Akshay Homes, Nagole ', ' Moosarambagh, NH ',
       ' Giridhari Murari, Appa junction ',
       ' Mount Meru, Banjara Hills, NH ',
       ' Shanta Sriram Sonata, New Nallakunta ',
       ' Gulshan Colony, Qutub Shahi Tombs ',
       ' Stonehenge, Appa junction ', ' Toli', ' hydernagar ',
       ' Janapriya Arcadia, Alwal ',
       ' NSK Bliss Meadows, Madinaguda, Hafeezpet, NH ', ' Moti Nagar ',
       ' Sanath Nagar, NH ', ' SV Brindavanam, Boduppal, NH ',
       ' Kothapet ', ' RDB Coconut Grove, Miyapur, NH ',
       ' SK Wonders, Kondapur ', ' Vayupuri ',
       ' The Legend, Himayath Nagar, NH ',
       ' Keesara Homes, Domalguda, Himayath Nagar, NH ',
       ' Golf Edge, Gachibowli CUC, Outer Ring Road ',
       ' Jains Ravi Gayathri Heights, Hitech City ',
       ' Venkata Sai Enclave, Nizampet ', ' Old Bowenpally ', ' Narsingi',
       ' Amrutha Avenue, Manikonda, Outer Ring Road ', ' Kachiguda, NH ',
       ' Hyderaguda-Attapur', ' Hasmathpet', ' Begumpet',
       ' Sri Sai Varshith Residency, Beeramguda, Ramachandra Puram, NH ',
       ' Q city ', ' Gulistan Apartments',
       ' Salar Jung Colony, Toli Chowki ', ' Park Stone, Attapur ',
       ' Sai Darshan, HMT nagar, Secunderabad ',
       ' Jains Amrutha, Vengal Rao Nagar, NH ',
       ' SBC Pristine Place, Gajularamaram ',
       ' Green Terraces, Whitefields ', ' Chhota Anjaiah Nagar',
       ' Bharat Nagar', ' Adi Emerald, Kondapur ',
       ' Tulip Residency, Kondapur ', ' Vasavi Nagar-Karkhana ',
       ' Happy Homes Colony, Hyderabad Expressway ',
       ' Srinagar Colony, Old Malakpet, NH ',
       ' Aditya DSR LakeSide, Madhava Reddy Colony, Gachibowli ',
       ' ALEAP', ' New Allapur ', ' Aditya Sunshine, Hitech City ',
       ' Lakshmi Royal Castle, Nallagandla, Serilingampally ',
       ' Swathi Pooja Homes, Dilsukh Nagar, NH ',
       ' Janapriya Metropolis, Moti Nagar ',
       ' Vertex Panache, Gachibowli, Outer Ring Road ',
       ' Umas Aadya and Arha Mensions, Kukatpally, NH '], dtype=object)

In [23]:
df4['total_sqft']=df4['total_sqft'].apply(lambda x:int(x.split(' ')[0]) if x.split(' ')[0].isnumeric() else 0)

C:\Users\USER\AppData\Local\Temp\ipykernel_10700\2149425707.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df4['total_sqft']=df4['total_sqft'].apply(lambda x:int(x.split(' ')[0]) if x.split(' ')[0].isnumeric() else 0)

In [24]:
df4.head()

          furnish  total_sqft   price                         location  bhk
0       Furnished        1800  34,000   Bhagyalaxmi Nagar, Kavadiguda     3
1  Semi-Furnished        2500  45,000     Gachibowli, Outer Ring Road     3
2       Furnished           0  18,000                       Gachibowli    1
3       Furnished        2160  40,000                    Moosapet, NH     3
4  Semi-Furnished        1580  23,000     Raghavendra Colony kondapur     3

## Outlier removal (deleting some rows based the total sqft values)

In [25]:
df5 = df4[~((df4["total_sqft"]>=0) & (df4["total_sqft"]<=300))]

In [26]:
df5.head()

          furnish  total_sqft   price                          location  bhk
0       Furnished        1800  34,000    Bhagyalaxmi Nagar, Kavadiguda     3
1  Semi-Furnished        2500  45,000      Gachibowli, Outer Ring Road     3
3       Furnished        2160  40,000                     Moosapet, NH     3
4  Semi-Furnished        1580  23,000      Raghavendra Colony kondapur     3
5       Furnished        2600  50,000   Banjara Darwaja, Golconda Fort     3

In [27]:
df5.shape

(895, 5)

In [28]:
df5.total_sqft.describe()

count     895.000000
mean     1499.756425
std       480.535504
min       500.000000
25%      1161.000000
50%      1436.000000
75%      1750.000000
max      6000.000000
Name: total_sqft, dtype: float64

In [29]:
len(df5['location'].unique())

473

## Dimensionality Reduction (based on location frequency)

In [30]:
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)

In [31]:
pd.set_option('display.max_rows', None)
print(location_stats)

location
 Attapur                                                                       21
 My Home Avatar, Narsingi, Outer Ring Road                                     17
 Nizampet                                                                      16
 Kondapur                                                                      15
 Gachibowli, Outer Ring Road                                                   13
 Bachupally, Outer Ring Road                                                   12
 Manikonda, Outer Ring Road                                                    10
 Banjara Hills, NH                                                             10
 Aditya Imperial Heights, Hafeezpet, NH                                         9
 Gajularamaram                                                                  9
 Narsingi, Outer Ring Road                                                      9
 Toli Chowki                                                                    9
 Chandanagar, NH                                                                8
 Kukatpally, NH                                                                 7
 Kukatpally Housing Board Colony, NH                                            7
 Mehdipatnam                                                                    7
 Miyapur, NH                                                                    7
 Shaikpet                                                                       6
 Masab Tank                                                                     6
 Puppalaguda                                                                    6
 Hitech City                                                                    6
 Kokapet, Outer Ring Road                                                       6
 Hafeezpet, NH                                                                  6
 Hyder Nagar, NH                                                                5
 LB Nagar, NH                                                                   5
 My Home Vihanga, Gachibowli, Outer Ring Road                                   5
 Jains Carlton Creek, Gachibowli, Outer Ring Road                               5
 Mantri Celestia, Gachibowli, Outer Ring Road                                   5
 Ameerpet, NH                                                                   5
 Bandlaguda Jagir                                                               5
 Upparpally, Hyderabad Expressway                                               5
 Dr A.S. Rao Nagar                                                              5
 Suchitra Circle                                                                5
 Begumpet                                                                       5
 Hyderabad                                                                      4
 West Marredpally                                                               4
 Vajras Jasmine County, Gachibowli, Outer Ring Road                             4
 Tellapur, Outer Ring Road                                                      4
 Sun City, Bandlaguda, Chevella Road                                            4
 Lodha Meridian, Kukatpally Housing Board Colony, NH                            4
 Narayanguda                                                                    4
 Nallagandla, Serilingampally                                                   4
 Himayath Nagar, NH                                                             4
 New Nallakunta                                                                 4
 Jubilee Hills                                                                  4
 Adibatla                                                                       4
 Indu Fortune Fields apartments, Hitech City                                    3
 Dilsukh Nagar, NH                                                              3
 Domalguda, Himayath Nagar, NH                                                  3
 Brindavan Colony-Toli Chowki                                                   3
 Friends Colony                                                                 3
 Meerpet                                                                        3
 KPHB Road                                                                      3
 Khairatabad, NH                                                                3
 Tarnaka                                                                        3
 SMR Vinay Iconia, Kondapur                                                     3
 SMR Vinay Harmony County, Appa junction                                        3
 Ramanthapur, NH                                                                3
 Punjagutta, NH                                                                 3
 Pragathi Nagar, Kukatpally                                                     3
 Papulguda                                                                      3
 P Janardhan Reddy Nagar, Gachibowli, Outer Ring Road                           3
 Old Malakpet, NH                                                               3
 Neknampur, Manikonda, Outer Ring Road                                          3
 Nanakram Guda                                                                  3
 NCC Urban One, Narsingi, Outer Ring Road                                       3
 Moti Nagar                                                                     3
 Boduppal, NH                                                                   3
 Madinaguda, Hafeezpet, NH                                                      3
 Madhapur                                                                       3
 Lakdikapul, NH                                                                 3
 Bowenpally                                                                     3
                                                                                3
 Ashok Nagar, Himayath Nagar                                                    3
 Bandlaguda, Nagole, Srisailam Highway                                          3
 Aditya Empress Towers, Shaikpet                                                3
 Aminpur                                                                        3
 Basheer Bagh, NH                                                               3
 Gulshan Colony, Qutub Shahi Tombs                                              2
 Gopanapalli                                                                    2
 Aparna CyberZon, Nallagandla, Serilingampally                                  2
 Modi Emerald Heights, Pocharam, NH                                             2
 Alkapuri, LB Nagar, NH                                                         2
 Modi Splendour, Kukatpally, NH                                                 2
 MIGH Colony-Mehdipatnam                                                        2
 Golf View, Gachibowli, Outer Ring Road                                         2
 Quthbullapur, NH                                                               2
 Karimnagar                                                                     2
 Golden Heights Colony, Janachaitanya colony, Hyderabad Expressway              2
 Tilak Nagar, New Nallakunta, NH                                                2
 Gayatri Hills, Jubilee Hills                                                   2
 ARK Homes, Bolarum, Medchal Road                                               2
 Gangaram, Chandanagar, NH                                                      2
 Secunderabad, Rashtrapati ROAd                                                 2
 Gandhi Nagar, Kavadiguda, NH                                                   2
 Raghavendra Colony, NH                                                         2
 Habsiguda, NH                                                                  2
 Saroornagar, NH                                                                2
 Bandam Kommu                                                                   2
 Maruthi Nagar                                                                  2
 Somajiguda, NH                                                                 2
 Srinija Gayatri Hills, Gachibowli, Outer Ring Road                             2
 Mayflower Heights, Mallapur                                                    2
 IT Heights, Khaja Guda, Outer Ring Road                                        2
 Hyderaguda-Attapur                                                             2
 Malaysian Township, Kukatpally, NH                                             2
 Hyder Shah Kote, Chevella Road                                                 2
 Jeedimetla, NH                                                                 2
 Humayun Nagar                                                                  2
 Malakpet, NH                                                                   2
 Rainbow Vistas Rock Gardens, Hitech City                                       2
 Aparna Serene Park, Kondapur                                                   2
 Hill County Township, Bachupally, Outer Ring Road                              2
 Hayathnagar, NH                                                                2
 Rahat Nagar-Amberpet                                                           2
 Happy Homes Colony, Hyderabad Expressway                                       2
 Shivam Rd                                                                      2
 Hakimpet-Hyderabad                                                             2
 Moula Ali, Moula Ali Road                                                      2
 Kavuri Hills, Madhapur                                                         2
 Nagole                                                                         2
 Dammaiguda                                                                     2
 New Bowenpally, NH                                                             2
 Nagaram                                                                        2
 Samata Colony, Toli Chowki                                                     2
 Langar House South, Hyderabad Expressway                                       2
 Neredmet                                                                       2
 Al Hasnath Colony, Toli Chowki                                                 2
 Saket, Secunderabad                                                            2
 Sainikpuri                                                                     2
 Samatha Nagar, Kukatpally, NH                                                  2
 PBEL City, Appa junction                                                       2
 Lingampally-Serilingampally, NH                                                2
 Osman Nagar                                                                    2
 Chikkadpally                                                                   2
 Western Exotica Project , Kothaguda                                            2
 Beeramguda, Ramachandra Puram, NH                                              2
 Old Nallakunta, New Nallakunta                                                 2
 YMCA Circle, Narayanguda                                                       2
 Dullapally, NH                                                                 2
 Durgabai Deshmukh Colony, Amberpet                                             2
 Fort View Colony                                                               2
 Uppal Metro                                                                    2
 Khaja Guda, Outer Ring Road                                                    2
 Saptagiri Colony, Kukatpally, NH                                               2
 Sanjeeva Reddy Nagar, NH                                                       2
 Gachibowli CUC, Outer Ring Road                                                2
 VSR Celestial Towers, Gajularamaram                                            2
 Lanco Hills, Manikonda, Outer Ring Road                                        2
 Ashoka Liviano, Gachibowli, Outer Ring Road                                    2
 Aditya Gardenia, Banjara Hills, NH                                             2
 Police Colony-Kondapur                                                         2
 Pocharam, NH                                                                   2
 Vasanth Nagar Colony, Nizampet                                                 2
 New Mallepally                                                                 2
 Pearl Celestial, Kokapet, Outer Ring Road                                      2
 Alkapur Township, Manikonda, Outer Ring Road                                   2
 SBC Pristine Place, Gajularamaram                                              1
 SK Wonders, Kondapur                                                           1
 SD Road                                                                        1
 SMR Vinay Fountainhead, Hyderabad                                              1
 SM Plaza, ECIL                                                                 1
 SRI SAIRAM Towers, Hafeezpet, NH                                               1
 Road #                                                                         1
 SMR Empire, West Marredpally                                                   1
 SMR Sartaj Plaza, Bowenpally                                                   1
 SMR Vinay Technopolis, Madhapur                                                1
 SMR Sowmya, West Marredpally                                                   1
 SMR Vinay City, Miyapur, NH                                                    1
 Royal Colony-Ram Bagh Colony                                                   1
 Boduppal Dwaraka nagar                                                         1
 Rethibowli, Mehdipatnam                                                        1
 Rasoolpura, Mahatma Gandhi Road                                                1
 Project Golden Habitat, Madhapur                                               1
 Prestige Ivy League, Phase                                                     1
 Prestige Ivy League, Hitech City                                               1
 Pranav Surya Planet, Kothaguda                                                 1
 Pragathi Nagar-Ramanthpur, NH                                                  1
 Akshay Homes, Nagole                                                           1
 Patrika Nagar, Hitech City                                                     1
 Patels Bright View, Yapral                                                     1
 Patelguda                                                                      1
 Park Stone, Attapur                                                            1
 Paramount Residency, Nagaram                                                   1
 Paragon Venkatadri Apartments, Kachiguda, NH                                   1
 Panjagutta Colony                                                              1
 Padmarao Nagar, Hyderabad-Karimnagar Highway                                   1
 Aliens Fast Track, Madhapur                                                    1
 Old Bowenpally                                                                 1
 Old Alwal, Secunderabad, Siddipet Road                                         1
 Project Hill Ridge Springs, Gachibowli, Outer Ring Road                        1
 Advocates Colony, Himayath Nagar                                               1
 Aditya Sunshine, Hitech City                                                   1
 Rajapushpa Atria, Kokapet, Outer Ring Road                                     1
 Ramnagar Gundu, Adikmet, NH                                                    1
 Ramky Towers Elite, Madhapur                                                   1
 Ramky One Marvel, Kukatpally, NH                                               1
 Aditya Nagar, Hafeezpet                                                        1
 Ramakrishnapuram-Neredmet                                                      1
 Rajiv Gandhi Nagar Colony, Nizampet                                            1
 Rajendra Nagar, Outer Ring Road                                                1
 Raheja Vistas, Nacharam                                                        1
 Q city                                                                         1
 Raghuram A                                                                     1
 SV Brindavanam, Boduppal, NH                                                   1
 Raghavendra Colony kondapur                                                    1
 Radha Krishna Nagar-Attapur, Attapur                                           1
 RV Kaustubha, Kompally                                                         1
 RDB Coconut Grove, Miyapur, NH                                                 1
 Quadri Happy Homes Paradise, Amberpet                                          1
 SRI SAIRAM Towers, Indra Reddy Alwyn Colony, Miyapur, NH                       1
 Shankara Kranthi Apartment, Kavadiguda, NH                                     1
 Safilguda, Secunderabad                                                        1
 Umas Aadya and Arha Mensions, Kukatpally, NH                                   1
 Vasathi Anandi, Appa junction                                                  1
 Vanasthalipuram, NH                                                            1
 APGOs Coop HSG Society, Hafeezpet                                              1
 Vajras Jasmine County, Financial district gucchibowli                          1
 Vajras Jasmine County, Financial District, Nanakram Guda                       1
 Ushodaya Enclave, Hafeezpet                                                    1
 APSEB Colony, Hastinapuram                                                     1
 Uppal, NH                                                                      1
 Tulip Residency, Kondapur                                                      1
 Vasavi Residency, Anand Nagar-Khairatabad, NH                                  1
 Trimulgherry                                                                   1
 Trendset Winz, Gachibowli, Outer Ring Road                                     1
 Tolly Chowki                                                                   1
 Tirumala Gardens, Banjara Hills, NH                                            1
 The Legend, Himayath Nagar, NH                                                 1
 The Legend Vittalwadi, Narayanguda                                             1
 The Legend Somajiguda I, Somajiguda, NH                                        1
 Temple Alwal, Secunderabad, Siddipet Road                                      1
 Vasavi Nagar-Karkhana                                                          1
 Vayupuri                                                                       1
 Sai Darshan, HMT nagar, Secunderabad                                           1
 Vittal Rao Nagar, Hitech City                                                  1
 military dairy farm rd                                                         1
 khairtabad                                                                     1
 hydernagar                                                                     1
 Yousufguda, NH                                                                 1
 Yella Reddy Guda, NH                                                           1
 Whitefields                                                                    1
 Whistling Woods, Kokapet, Outer Ring Road                                      1

In [32]:
len(location_stats[location_stats<5])-473

-34

In [33]:
location_stats_less_than_5 = location_stats[location_stats<5]

In [34]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_than_5 else x)

C:\Users\USER\AppData\Local\Temp\ipykernel_10700\1389931603.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_than_5 else x)

In [35]:
len(df5['location'].unique())

35

In [36]:
df5.tail()

             furnish  total_sqft   price location  bhk
1163  Semi-Furnished        1200  20,000    other    2
1164  Semi-Furnished        1480  34,000    other    3
1166     Unfurnished         900  15,000    other    2
1168     Unfurnished        1515  14,000    other    3
1170  Semi-Furnished        1100  12,000    other    2

In [44]:
df5["furnish2"] = df5["furnish"].map({'Unfurnished':1, 'Semi-Furnished':2, 'Furnished':3})

C:\Users\USER\AppData\Local\Temp\ipykernel_10700\857790907.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df5["furnish2"] = df5["furnish"].map({'Unfurnished':1, 'Semi-Furnished':2, 'Furnished':3})

In [45]:
df6=df5.drop("furnish", axis="columns")

In [47]:
df6.rename(columns={'furnish2': 'furnish'}, inplace=True)

In [48]:
df6.head()

   total_sqft   price                       location  bhk  furnish
0        1800  34,000                          other    3        3
1        2500  45,000   Gachibowli, Outer Ring Road     3        2
3        2160  40,000                          other    3        3
4        1580  23,000                          other    3        2
5        2600  50,000                          other    3        3

## One hot encoding (i.e. converting categorical var to numeric using get_dummies)

In [49]:
dummies = pd.get_dummies(df6["location"])

In [50]:
dummies.head()

,"Aditya Imperial Heights, Hafeezpet, NH","Ameerpet, NH",Attapur,"Bachupally, Outer Ring Road",Bandlaguda Jagir,"Banjara Hills, NH",Begumpet,"Chandanagar, NH",Dr A.S. Rao Nagar,"Gachibowli, Outer Ring Road",...,"My Home Avatar, Narsingi, Outer Ring Road","My Home Vihanga, Gachibowli, Outer Ring Road","Narsingi, Outer Ring Road",Nizampet,Puppalaguda,Shaikpet,Suchitra Circle,Toli Chowki,"Upparpally, Hyderabad Expressway",other
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [51]:
df7 = pd.concat([df6, dummies.drop("other", axis="columns")], axis="columns")

In [52]:
df8 = df7.drop("location", axis="columns")

In [53]:
df8["price"]

0       34,000
1       45,000
3       40,000
4       23,000
5       50,000
6       32,000
8       35,000
9       11,000
10      19,000
11      30,000
12      18,000
13      30,000
14      31,000
15      49,000
16      38,000
17      18,000
18      26,000
19      25,000
20      12,000
21      34,000
22      39,000
23      37,000
24      13,000
25      35,000
26      45,000
27      38,000
28      45,000
29      35,000
30      35,000
31      35,000
32      40,000
33      25,000
34      25,000
36      19,000
37      35,000
38      18,000
39      40,000
40      24,000
41      35,000
42      30,000
44      16,000
45      20,000
46      12,000
47      28,000
48      17,000
49      45,000
50      15,500
51      16,000
52      20,000
53      36,000
54      45,000
56      20,000
57      15,000
58      30,000
59      35,000
60      36,000
61      13,000
62      35,000
63      22,000
64      25,000
65      30,000
66      17,500
67      44,000
68      24,000
69      43,000
70      35,000
71      25,000
72      25,000
73      30,000
74      12,000
75      50,000
76      48,000
77      30,000
78      19,000
79      38,000
80      35,000
81      10,000
82      14,000
83      29,000
84      17,000
85      16,000
86      15,000
87      17,000
88      18,000
89       9,000
90      16,000
91      21,000
92      13,000
93      17,000
94      17,000
95      40,000
96      30,000
97      48,000
98      40,000
100     18,000
101     30,000
102     36,000
103     50,000
104     15,000
105     30,000
106     18,000
107     25,000
108      9,500
109     27,000
111     45,000
112     48,000
113     45,000
114     32,000
115     33,000
116      8,000
117     40,000
118     25,000
119     12,000
121     13,000
122     25,000
123     38,000
124     16,000
125     10,500
126     40,000
127     19,000
128     20,000
129     20,000
130     26,000
131     20,000
132     18,500
133     35,000
134     40,000
135     30,000
136     40,000
137     21,000
139     32,500
140     32,000
141     45,000
142     45,000
143     40,000
144     31,500
145     24,000
146     45,000
147     13,000
148     20,000
149     18,000
150     45,000
151     20,000
152     36,000
153     22,000
154     23,000
155     15,500
156     12,000
157     45,000
158     35,000
159     15,000
160     32,000
161     22,000
162     27,000
163     10,000
164     22,000
165     12,000
166     16,000
167     22,000
168     39,000
169     18,000
170     50,000
171     33,000
172     18,500
173     48,000
174     25,000
176     14,000
177     20,000
178     27,000
179     15,000
180     14,000
181     16,500
182     29,000
183     40,000
184     17,500
185     16,000
186     30,000
187     25,000
188     24,000
189     35,000
190     40,000
192     22,000
193     23,000
195     27,000
196     12,500
198     12,000
199     18,000
201     25,000
202     23,000
203     16,000
204     38,000
205     18,500
206     50,000
207     22,000
208     31,000
209     38,000
212     16,500
215     50,000
216     36,000
217     30,000
218     32,000
219     10,000
220     16,000
221     19,000
222     17,500
223     20,000
224     13,000
225     26,000
226     40,000
227     26,000
228     18,000
229     15,000
230     15,000
231     50,000
232     18,000
233     18,000
234     10,000
235     13,000
236     25,000
237     15,000
238     18,000
239     24,000
240     17,000
241     16,500
242     45,000
243     23,000
244     14,000
245     23,000
246     25,000
247     25,000
248     15,000
249     35,000
250     34,000
251     26,000
252     15,000
253     16,000
254     14,000
255     10,000
256     35,000
257     10,500
258     36,000
259     18,000
260     18,000
262     18,000
263     10,200
264     14,500
265     18,000
266     23,000
267     36,000
268     25,000
270     45,000
271     13,000
272     30,000
273     25,000
274     17,000
275     17,000
276     20,000
277     35,000
278     15,000
279     10,000
280     16,000
281     32,000
282     14,000
283     15,000
284      8,500
286     10,000
287     15,000
288     29,000
289     19,500
290     35,000
291     30,000
292     30,000
293     18,000
294     33,000
295     35,000
296     35,000
297     40,000
298     40,400
299     17,000
300     48,000
301     48,000
302     22,000
303     40,000
304     18,000
305     16,000
306     20,000
309     45,000
310     40,000
312     17,000
314     25,000
315     28,000
316     20,000
317     15,000
318     20,000
319     45,000
320     30,000
321     35,000
327     30,000
328     41,000
329     31,000
330     36,000
331     29,000
332     23,000
335     28,000
336     35,000
337     45,000
338     50,000
339     45,000
340     23,000
341     16,000
342     38,000
343     42,000
344     26,000
346     50,000
347     50,000
348     48,000
349     25,000
350     22,000
351     25,000
352     40,000
353     18,000
354     17,000
355     50,000
356     18,000
357     45,000
358     45,000
359     18,000
360     17,500
361     14,000
362     15,000
363     35,000
365     13,000
366     17,000
367     25,000
368     15,000
369     12,000
370     30,000
371     39,000
372     26,000
373     30,000
374     18,000
375     20,000
376     15,000
377     20,000
378     30,000
379     13,000
380     28,500
382     28,000
383     27,000
385     30,000
386     45,000
388     36,000
389     30,000
391     20,000
392     36,000
395     14,000
396     25,000
397     18,000
398     15,000
399     13,000
400     50,000
401      8,500
402     16,000
403     12,000
405     25,000
406     15,000
407     23,000
408     37,000
410     26,000
411     24,000
412     17,000
413     30,000
414     50,000
415     26,000
416     35,000
417      8,500
418     40,000
419     15,000
420     23,000
421     21,000
422     28,000
424     30,000
426     40,000
427     28,000
428     11,500
429     15,000
430     50,000
431     25,000
432     30,500
433     25,000
434     40,000
435      8,000
437     22,000
438     28,000
439     27,000
440     15,000
441     16,000
443     30,000
444     28,000
445     23,000
446     26,000
447     15,000
448     17,500
449     24,000
450     30,000
451     38,000
452     30,000
453     15,000
454     30,000
456     25,000
457     15,000
458     12,000
459     12,000
461     18,000
462     16,000
463     19,500
464      9,500
465     14,000
466     42,000
467     30,000
468     27,000
469     16,000
470     28,000
472     45,000
473     45,000
474     20,000
475     11,000
476     40,000
477     28,000
478     18,000
479      9,000
480      8,000
481     11,000
482     32,000
483     26,000
484     14,500
485     45,000
486     16,500
487     50,000
488     36,000
489     35,000
490     32,000
491     18,000
492     40,000
493     13,000
494     22,000
495     30,000
496     12,000
497     12,000
498     10,000
499     36,000
500     12,000
501     25,000
502     28,000
503     15,000
504     15,000
505     12,000
506     30,000
507     18,000
508     14,000
509     15,000
510     28,000
511     18,000
512     30,000
513     22,000
514     19,000
515     30,000
516     18,000
518     42,000
519     24,000
520     14,000
521     16,000
522     25,000
523     21,500
524     40,000
525     30,000
526     23,000
527     35,000
528     12,000
529     15,000
531     50,000
532     22,000
533     16,000
534     18,000
535     23,000
536     17,000
537     45,000
538     25,000
539     22,000
540     21,000
541     33,000
542     25,000
543     45,000
544     17,500
545     25,000
546     30,000
547     42,000
548     35,000
549     26,000
550     30,000
551     45,000
552     28,000
553     31,000
554     30,000
555     15,000
556     35,000
557     22,000
558     25,000
559     13,000
560     15,000
561     14,000
562     27,000
563     34,000
564     20,000
565     27,000
566     11,000
567     20,000
568     25,000
569     38,000
570     28,000
571     15,000
572     25,000
573     16,000
574     30,000
576     16,000
578     12,500
579     40,000
580     11,000
581     18,000
582     24,000
583     27,000
584      9,000
585     21,000
586     19,000
587     24,000
588     16,500
589      7,000
590     26,000
592     50,000
593     42,500
594     50,000
595     35,000
596     20,000
597     20,000
598     40,000
599     45,000
600     22,000
601     25,000
602     28,000
603     35,000
604     10,000
605     14,000
606     12,000
608     16,000
609     16,000
611     38,000
612     45,000
614     15,000
615     23,000
616     25,000
617     20,000
618     21,000
619     38,000
620     16,000
621     25,000
623     18,000
624     36,000
625     15,400
627     19,000
628     22,000
630     40,000
633     12,000
634     40,000
635     30,000
636     11,000
637     25,000
638     48,000
639     15,000
642     30,000
643     28,000
645     30,000
646     12,000
647     35,000
648     17,500
649     47,000
650      9,500
651     28,000
652     17,000
653     18,000
654     20,000
655     15,000
656     18,000
658     12,000
659     12,000
660     11,500
661     15,600
663     18,000
665      7,000
666      6,500
667     18,500
668     11,000
670     18,000
672     13,000
674     15,000
676     22,000
678     13,000
679     25,000
680     15,000
681     35,000
683     17,000
685      7,000
686     15,000
688     18,000
689     25,000
690     30,000
691     35,000
692     20,000
693     16,000
694     15,000
695      7,500
696     25,000
698     27,000
699     16,000
700     33,000
701     50,000
702     20,000
704     35,000
706     37,000
707     20,500
708     10,000
709      7,500
712      6,000
713      7,000
714     18,000
715     15,000
716     18,000
717     21,000
718     25,000
719     22,000
720     24,000
721     20,000
722      6,000
724     20,000
725     35,000
726     22,000
727     27,000
728     15,000
729      9,000
731     12,000
732      9,000
733     10,000
734     18,000
735     16,000
736     34,000
737     30,000
738     18,500
739     20,000
740     15,000
741     25,000
742     11,000
744     25,000
745      9,500
747     10,000
748     13,000
750     15,000
751     10,000
752     10,000
753     38,000
754     20,500
755     14,000
757     16,000
758     38,000
759     20,000
760     30,000
761     23,000
762     13,000
763     25,000
764     15,000
765     20,000
766     14,000
767     26,000
768     17,000
770     15,000
771     18,000
773     13,000
774     15,000
776     25,000
777     16,500
778     15,500
779      9,000
780     19,500
811     12,000
812     17,500
813     13,000
815     10,000
817     22,000
818     16,000
819     15,000
820     10,000
821     18,500
822     15,000
823     22,000
824     15,000
825     17,000
826     14,000
827      8,500
828     40,000
829     30,000
830     13,000
831     50,000
832     25,000
833     25,000
834     35,000
835      6,500
836      8,000
838     20,000
840     15,000
841     38,000
842     40,000
843     40,000
844     30,000
845     37,000
846     15,000
847     38,000
849     12,000
850     23,000
852     18,000
855     35,000
861     17,000
862     18,000
863     32,000
865     16,500
868     10,000
869     26,000
870     15,000
871     11,000
872     30,000
874     30,000
875     11,000
877     30,000
878     15,000
879     18,000
880     12,000
881     14,000
884     21,000
886     15,000
887     25,000
888     10,000
889     15,000
890     12,000
891     26,000
892      7,000
893     22,000
894     12,000
895      9,000
896      9,000
897      5,000
898     19,500
899     15,000
900     25,000
901     20,000
902      8,500
903      7,500
904     50,000
905     34,000
906     23,000
907      8,500
909     12,000
913     19,000
914     15,000
918     27,000
919     38,000
921     35,000
922     13,500
923     15,000
924     10,000
925     15,000
927     12,000
928     49,000
929     14,000
930     20,000
931     23,000
932     15,000
933     23,000
934     22,000
935     40,000
936     22,000
937     16,500
938     15,000
939     35,000
941     20,000
943     16,000
944      7,500
945     48,000
946     11,000
947     20,000
948     15,000
949     14,000
950     12,000
951     15,000
952     15,000
953     45,000
954     23,000
955     14,000
956     40,000
957     25,000
958     36,000
959     16,000
961     12,500
962     10,000
963     15,000
964     20,500
965     25,000
966     14,500
967     15,000
968     32,000
970     32,000
971     13,000
972     20,000
973      9,500
974     35,000
975      9,000
976     16,000
977     30,000
978     16,000
979     44,000
980     50,000
981     22,000
982     14,000
985     15,000
986     33,000
987     12,000
989     40,000
990     12,000
1081    13,000
1082    22,000
1084    14,500
1085    20,000
1086    22,000
1088    12,000
1089     9,000
1090    30,000
1091    23,000
1092     8,000
1093    14,000
1094    11,000
1095    35,000
1099    28,000
1101    15,000
1103    18,000
1106     9,000
1107    22,000
1108    15,000
1111    13,000
1112    16,000
1113    13,000
1114    15,000
1115    25,000
1116    16,500
1117     5,000
1118    40,000
1119    20,000
1120    10,000
1121    10,000
1123    30,000
1124    35,000
1125    21,000
1126    45,000
1130    30,000
1132    35,000
1133    26,000
1134    11,000
1135    20,000
1136    15,000
1138    15,000
1140    25,000
1141    23,000
1142    32,000
1147    14,000
1150    16,000
1152    26,000
1154    12,000
1155    35,000
1156    21,000
1157    27,000
1158    15,000
1159    12,000
1160    10,000
1161    22,000
1162    30,000
1163    20,000
1164    34,000
1166    15,000
1168    14,000
1170    12,000
Name: price, dtype: object

In [54]:
df8['price'] = pd.to_numeric(df8['price'].str.replace(',', ''), errors='coerce')

In [55]:
df8 = df8.reset_index(drop=True)

In [66]:
df8.rename(columns=lambda x: x.strip(), inplace=True)

In [67]:
X = df8.drop("price", axis="columns")
y = df8["price"]

In [68]:
X.head()

,total_sqft,bhk,furnish,"Aditya Imperial Heights, Hafeezpet, NH","Ameerpet, NH",Attapur,"Bachupally, Outer Ring Road",Bandlaguda Jagir,"Banjara Hills, NH",Begumpet,...,"Miyapur, NH","My Home Avatar, Narsingi, Outer Ring Road","My Home Vihanga, Gachibowli, Outer Ring Road","Narsingi, Outer Ring Road",Nizampet,Puppalaguda,Shaikpet,Suchitra Circle,Toli Chowki,"Upparpally, Hyderabad Expressway"
0,1800,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2500,3,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2160,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1580,3,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2600,3,3,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [69]:
y

0      34000
1      45000
2      40000
3      23000
4      50000
5      32000
6      35000
7      11000
8      19000
9      30000
10     18000
11     30000
12     31000
13     49000
14     38000
15     18000
16     26000
17     25000
18     12000
19     34000
20     39000
21     37000
22     13000
23     35000
24     45000
25     38000
26     45000
27     35000
28     35000
29     35000
30     40000
31     25000
32     25000
33     19000
34     35000
35     18000
36     40000
37     24000
38     35000
39     30000
40     16000
41     20000
42     12000
43     28000
44     17000
45     45000
46     15500
47     16000
48     20000
49     36000
50     45000
51     20000
52     15000
53     30000
54     35000
55     36000
56     13000
57     35000
58     22000
59     25000
60     30000
61     17500
62     44000
63     24000
64     43000
65     35000
66     25000
67     25000
68     30000
69     12000
70     50000
71     48000
72     30000
73     19000
74     38000
75     35000
76     10000
77     14000
78     29000
79     17000
80     16000
81     15000
82     17000
83     18000
84      9000
85     16000
86     21000
87     13000
88     17000
89     17000
90     40000
91     30000
92     48000
93     40000
94     18000
95     30000
96     36000
97     50000
98     15000
99     30000
100    18000
101    25000
102     9500
103    27000
104    45000
105    48000
106    45000
107    32000
108    33000
109     8000
110    40000
111    25000
112    12000
113    13000
114    25000
115    38000
116    16000
117    10500
118    40000
119    19000
120    20000
121    20000
122    26000
123    20000
124    18500
125    35000
126    40000
127    30000
128    40000
129    21000
130    32500
131    32000
132    45000
133    45000
134    40000
135    31500
136    24000
137    45000
138    13000
139    20000
140    18000
141    45000
142    20000
143    36000
144    22000
145    23000
146    15500
147    12000
148    45000
149    35000
150    15000
151    32000
152    22000
153    27000
154    10000
155    22000
156    12000
157    16000
158    22000
159    39000
160    18000
161    50000
162    33000
163    18500
164    48000
165    25000
166    14000
167    20000
168    27000
169    15000
170    14000
171    16500
172    29000
173    40000
174    17500
175    16000
176    30000
177    25000
178    24000
179    35000
180    40000
181    22000
182    23000
183    27000
184    12500
185    12000
186    18000
187    25000
188    23000
189    16000
190    38000
191    18500
192    50000
193    22000
194    31000
195    38000
196    16500
197    50000
198    36000
199    30000
200    32000
201    10000
202    16000
203    19000
204    17500
205    20000
206    13000
207    26000
208    40000
209    26000
210    18000
211    15000
212    15000
213    50000
214    18000
215    18000
216    10000
217    13000
218    25000
219    15000
220    18000
221    24000
222    17000
223    16500
224    45000
225    23000
226    14000
227    23000
228    25000
229    25000
230    15000
231    35000
232    34000
233    26000
234    15000
235    16000
236    14000
237    10000
238    35000
239    10500
240    36000
241    18000
242    18000
243    18000
244    10200
245    14500
246    18000
247    23000
248    36000
249    25000
250    45000
251    13000
252    30000
253    25000
254    17000
255    17000
256    20000
257    35000
258    15000
259    10000
260    16000
261    32000
262    14000
263    15000
264     8500
265    10000
266    15000
267    29000
268    19500
269    35000
270    30000
271    30000
272    18000
273    33000
274    35000
275    35000
276    40000
277    40400
278    17000
279    48000
280    48000
281    22000
282    40000
283    18000
284    16000
285    20000
286    45000
287    40000
288    17000
289    25000
290    28000
291    20000
292    15000
293    20000
294    45000
295    30000
296    35000
297    30000
298    41000
299    31000
300    36000
301    29000
302    23000
303    28000
304    35000
305    45000
306    50000
307    45000
308    23000
309    16000
310    38000
311    42000
312    26000
313    50000
314    50000
315    48000
316    25000
317    22000
318    25000
319    40000
320    18000
321    17000
322    50000
323    18000
324    45000
325    45000
326    18000
327    17500
328    14000
329    15000
330    35000
331    13000
332    17000
333    25000
334    15000
335    12000
336    30000
337    39000
338    26000
339    30000
340    18000
341    20000
342    15000
343    20000
344    30000
345    13000
346    28500
347    28000
348    27000
349    30000
350    45000
351    36000
352    30000
353    20000
354    36000
355    14000
356    25000
357    18000
358    15000
359    13000
360    50000
361     8500
362    16000
363    12000
364    25000
365    15000
366    23000
367    37000
368    26000
369    24000
370    17000
371    30000
372    50000
373    26000
374    35000
375     8500
376    40000
377    15000
378    23000
379    21000
380    28000
381    30000
382    40000
383    28000
384    11500
385    15000
386    50000
387    25000
388    30500
389    25000
390    40000
391     8000
392    22000
393    28000
394    27000
395    15000
396    16000
397    30000
398    28000
399    23000
400    26000
401    15000
402    17500
403    24000
404    30000
405    38000
406    30000
407    15000
408    30000
409    25000
410    15000
411    12000
412    12000
413    18000
414    16000
415    19500
416     9500
417    14000
418    42000
419    30000
420    27000
421    16000
422    28000
423    45000
424    45000
425    20000
426    11000
427    40000
428    28000
429    18000
430     9000
431     8000
432    11000
433    32000
434    26000
435    14500
436    45000
437    16500
438    50000
439    36000
440    35000
441    32000
442    18000
443    40000
444    13000
445    22000
446    30000
447    12000
448    12000
449    10000
450    36000
451    12000
452    25000
453    28000
454    15000
455    15000
456    12000
457    30000
458    18000
459    14000
460    15000
461    28000
462    18000
463    30000
464    22000
465    19000
466    30000
467    18000
468    42000
469    24000
470    14000
471    16000
472    25000
473    21500
474    40000
475    30000
476    23000
477    35000
478    12000
479    15000
480    50000
481    22000
482    16000
483    18000
484    23000
485    17000
486    45000
487    25000
488    22000
489    21000
490    33000
491    25000
492    45000
493    17500
494    25000
495    30000
496    42000
497    35000
498    26000
499    30000
500    45000
501    28000
502    31000
503    30000
504    15000
505    35000
506    22000
507    25000
508    13000
509    15000
510    14000
511    27000
512    34000
513    20000
514    27000
515    11000
516    20000
517    25000
518    38000
519    28000
520    15000
521    25000
522    16000
523    30000
524    16000
525    12500
526    40000
527    11000
528    18000
529    24000
530    27000
531     9000
532    21000
533    19000
534    24000
535    16500
536     7000
537    26000
538    50000
539    42500
540    50000
541    35000
542    20000
543    20000
544    40000
545    45000
546    22000
547    25000
548    28000
549    35000
550    10000
551    14000
552    12000
553    16000
554    16000
555    38000
556    45000
557    15000
558    23000
559    25000
560    20000
561    21000
562    38000
563    16000
564    25000
565    18000
566    36000
567    15400
568    19000
569    22000
570    40000
571    12000
572    40000
573    30000
574    11000
575    25000
576    48000
577    15000
578    30000
579    28000
580    30000
581    12000
582    35000
583    17500
584    47000
585     9500
586    28000
587    17000
588    18000
589    20000
590    15000
591    18000
592    12000
593    12000
594    11500
595    15600
596    18000
597     7000
598     6500
599    18500
600    11000
601    18000
602    13000
603    15000
604    22000
605    13000
606    25000
607    15000
608    35000
609    17000
610     7000
611    15000
612    18000
613    25000
614    30000
615    35000
616    20000
617    16000
618    15000
619     7500
620    25000
621    27000
622    16000
623    33000
624    50000
625    20000
626    35000
627    37000
628    20500
629    10000
630     7500
631     6000
632     7000
633    18000
634    15000
635    18000
636    21000
637    25000
638    22000
639    24000
640    20000
641     6000
642    20000
643    35000
644    22000
645    27000
646    15000
647     9000
648    12000
649     9000
650    10000
651    18000
652    16000
653    34000
654    30000
655    18500
656    20000
657    15000
658    25000
659    11000
660    25000
661     9500
662    10000
663    13000
664    15000
665    10000
666    10000
667    38000
668    20500
669    14000
670    16000
671    38000
672    20000
673    30000
674    23000
675    13000
676    25000
677    15000
678    20000
679    14000
680    26000
681    17000
682    15000
683    18000
684    13000
685    15000
686    25000
687    16500
688    15500
689     9000
690    19500
691    12000
692    17500
693    13000
694    10000
695    22000
696    16000
697    15000
698    10000
699    18500
700    15000
701    22000
702    15000
703    17000
704    14000
705     8500
706    40000
707    30000
708    13000
709    50000
710    25000
711    25000
712    35000
713     6500
714     8000
715    20000
716    15000
717    38000
718    40000
719    40000
720    30000
721    37000
722    15000
723    38000
724    12000
725    23000
726    18000
727    35000
728    17000
729    18000
730    32000
731    16500
732    10000
733    26000
734    15000
735    11000
736    30000
737    30000
738    11000
739    30000
740    15000
741    18000
742    12000
743    14000
744    21000
745    15000
746    25000
747    10000
748    15000
749    12000
750    26000
751     7000
752    22000
753    12000
754     9000
755     9000
756     5000
757    19500
758    15000
759    25000
760    20000
761     8500
762     7500
763    50000
764    34000
765    23000
766     8500
767    12000
768    19000
769    15000
770    27000
771    38000
772    35000
773    13500
774    15000
775    10000
776    15000
777    12000
778    49000
779    14000
780    20000
781    23000
782    15000
783    23000
784    22000
785    40000
786    22000
787    16500
788    15000
789    35000
790    20000
791    16000
792     7500
793    48000
794    11000
795    20000
796    15000
797    14000
798    12000
799    15000
800    15000
801    45000
802    23000
803    14000
804    40000
805    25000
806    36000
807    16000
808    12500
809    10000
810    15000
811    20500
812    25000
813    14500
814    15000
815    32000
816    32000
817    13000
818    20000
819     9500
820    35000
821     9000
822    16000
823    30000
824    16000
825    44000
826    50000
827    22000
828    14000
829    15000
830    33000
831    12000
832    40000
833    12000
834    13000
835    22000
836    14500
837    20000
838    22000
839    12000
840     9000
841    30000
842    23000
843     8000
844    14000
845    11000
846    35000
847    28000
848    15000
849    18000
850     9000
851    22000
852    15000
853    13000
854    16000
855    13000
856    15000
857    25000
858    16500
859     5000
860    40000
861    20000
862    10000
863    10000
864    30000
865    35000
866    21000
867    45000
868    30000
869    35000
870    26000
871    11000
872    20000
873    15000
874    15000
875    25000
876    23000
877    32000
878    14000
879    16000
880    26000
881    12000
882    35000
883    21000
884    27000
885    15000
886    12000
887    10000
888    22000
889    30000
890    20000
891    34000
892    15000
893    14000
894    12000
Name: price, dtype: int64

In [70]:
X.columns

Index(['total_sqft', 'bhk', 'furnish',
       'Aditya Imperial Heights, Hafeezpet, NH', 'Ameerpet, NH', 'Attapur',
       'Bachupally, Outer Ring Road', 'Bandlaguda Jagir', 'Banjara Hills, NH',
       'Begumpet', 'Chandanagar, NH', 'Dr A.S. Rao Nagar',
       'Gachibowli, Outer Ring Road', 'Gajularamaram', 'Hafeezpet, NH',
       'Hitech City', 'Hyder Nagar, NH',
       'Jains Carlton Creek, Gachibowli, Outer Ring Road',
       'Kokapet, Outer Ring Road', 'Kondapur',
       'Kukatpally Housing Board Colony, NH', 'Kukatpally, NH', 'LB Nagar, NH',
       'Manikonda, Outer Ring Road',
       'Mantri Celestia, Gachibowli, Outer Ring Road', 'Masab Tank',
       'Mehdipatnam', 'Miyapur, NH',
       'My Home Avatar, Narsingi, Outer Ring Road',
       'My Home Vihanga, Gachibowli, Outer Ring Road',
       'Narsingi, Outer Ring Road', 'Nizampet', 'Puppalaguda', 'Shaikpet',
       'Suchitra Circle', 'Toli Chowki', 'Upparpally, Hyderabad Expressway'],
      dtype='object')

## Building regression model by splitting data for training and testing

In [72]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [73]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.5631436433321091

## K-Fold cross validation for testing the accuracy of LinearRegression model

In [74]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.49010746, 0.50626682, 0.55858976, 0.48469708, 0.46656977])

In [75]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'copy_X': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

In [76]:
find_best_model_using_gridsearchcv(X,y)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py:378: FitFailedWarning:
10 fits failed out of a total of 20.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 1247, in fit
    super().fit(
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\tree\_classes.py", line 177, in fit
    self._validate_params()
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py", line 581, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\USER\anaconda3\lib\site-packages\sklearn\utils\_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'friedman_mse', 'absolute_error', 'poisson', 'squared_error'}. Got 'mse' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\USER\anaconda3\lib\site-packages\sklearn\model_selection\_search.py:952: UserWarning: One or more of the test scores are non-finite: [       nan        nan 0.31382132 0.31856933]
  warnings.warn(

,model,best_score,best_params
0,linear_regression,0.501246,{'copy_X': True}
1,lasso,0.501500,"{'alpha': 2, 'selection': 'cyclic'}"
2,decision_tree,0.318569,"{'criterion': 'friedman_mse', 'splitter': 'ran..."

## testing the model for few known properties

In [77]:
def predict_price(location,total_sqft,bhk,furnish):
    loc_index = np.where(X.columns==location)[0][0]
    
    x = np.zeros(len(X.columns))
    x[0] = total_sqft
    x[1] = bhk
    x[2] = furnish
    if loc_index >= 0:
        x[loc_index]=1
    
    return round(lr_clf.predict([x])[0],0)

In [78]:
X.columns

Index(['total_sqft', 'bhk', 'furnish',
       'Aditya Imperial Heights, Hafeezpet, NH', 'Ameerpet, NH', 'Attapur',
       'Bachupally, Outer Ring Road', 'Bandlaguda Jagir', 'Banjara Hills, NH',
       'Begumpet', 'Chandanagar, NH', 'Dr A.S. Rao Nagar',
       'Gachibowli, Outer Ring Road', 'Gajularamaram', 'Hafeezpet, NH',
       'Hitech City', 'Hyder Nagar, NH',
       'Jains Carlton Creek, Gachibowli, Outer Ring Road',
       'Kokapet, Outer Ring Road', 'Kondapur',
       'Kukatpally Housing Board Colony, NH', 'Kukatpally, NH', 'LB Nagar, NH',
       'Manikonda, Outer Ring Road',
       'Mantri Celestia, Gachibowli, Outer Ring Road', 'Masab Tank',
       'Mehdipatnam', 'Miyapur, NH',
       'My Home Avatar, Narsingi, Outer Ring Road',
       'My Home Vihanga, Gachibowli, Outer Ring Road',
       'Narsingi, Outer Ring Road', 'Nizampet', 'Puppalaguda', 'Shaikpet',
       'Suchitra Circle', 'Toli Chowki', 'Upparpally, Hyderabad Expressway'],
      dtype='object')

In [80]:
predict_price('Ameerpet, NH',1000,2,1)

C:\Users\USER\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

16072.0

## Export the tested model to a pickle file

In [81]:
import pickle

with open('Hyderabd_house_rent_model.pickle','wb') as f:
    pickle.dump(lr_clf,f)

## Export location and column information to a json which will be used during deployment

In [82]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))